.pOrderCard {
    margin: 4px;
}

.h4OrderCard {
    margin: 7px;
}

.resault {
    color: #f1bbf5;
}

.gridCustom {
    box-shadow: rgba(0, 0, 0, 0.051) 0px 1px 4px;
    align-content: center;
    place-self: center;
    position: relative;
}

.gridCustom:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 4px;
}

