.orderDetailContainer {
    margin-top: 2rem;
}

.orderDetailContainer img {
    width: 4.5rem;
    place-self: center;
}

.orderDetailContainer p {
    margin: 4px;
}

.orderDetailContainer h5{
    margin: 7px;
}

.orderDetailContainer h3{
    margin: 9px;
}