.inputContainer {
  display: flex;
  gap: 0.5rem;
  height: 2.8rem;
}
.inputControls {
  align-self: center;
  height: 100%;
  cursor: pointer;
  color: 'white';
}
.inputControls:hover {
  border: '1px solid white';
}
