.maskContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 999999999;
  background-color: hsl(0.75turn, 100%, 50%, 0.5);
  top: 0;
  left: 0;
}

.modalContainer {
  width: 600px;
  height: 230px;
  background-color: rgb(218, 87, 218);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid white;
  border-radius: 8px;
}
