.productCardContainer {
    box-shadow: rgba(118, 118, 118, 0.051) 0px 1px 4px;
    align-content: center;
    place-self: center;
    margin-top: 2rem;
    align-items: center;
    padding: 1rem;
}
.productCardContainer input {
   width: 33px;
}

.productCardContainer form {
   height: auto;
   width: auto;
}

.productCardContainer button {
    margin: 0 auto;
}

.formContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

