.headerContainer {
  display: flex;
  height: 3rem;
  justify-content: space-between;
  width: 100%;
  padding: '5px';
}

.titleStyle {
  font: 2rem gray;
  padding: 2px;
  font-variant: historical-ligatures;
}

.closeIcon {
  cursor: pointer;
  height: 2rem;
  padding: 2px;
  color: gray;
}
.closeIcon:hover {
  color: violet;
}

.mainContainer {
  width: 590px;
  height: 200px;
  background-color: white;
  display: flex;
  gap: 0.9rem;
  padding: 2rem;
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
}

.mainIconContainer {
  width: 80px;
  height: 80px;
}

.mainIcon {
  width: 100%;
  height: 100%;
}

.messageContainer {
  width: 100%;
  font: 1.3rem gray;
  font-variant: historical-ligatures;
  flex: 1;
}

.footerContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 5px;
  height: 3rem;
}
