{
    "semi": false,
    "singleQuote": true,
    "arrowParens": "always",
    "bracketSpacing": true,
    "trailingComma": "none",
    "printWidth": 100,
    "importOrder": ["^components/(.*)$", "^[./]"],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
  }
  