
.newOrderContainer img{
width: 6rem;
}

.newOrderContainer p {
    margin: 4px;
}

.newOrderContainer h5{
    margin: 7px;
}

.newOrderContainer h3{
    margin: 9px;
}

.newOrderHeader {
    margin: 2rem 0;
}