
.tooltip_box {
    width: fit-content;
    position: relative;
    display: inline-block;
  }
  
  .tooltip_span {
    visibility: hidden;
    width: max-content;
    max-width: 170px;
    background-color: whitesmoke;
    color: black;
    font-size: 15px;
    text-align: center;
    border-radius: 6px;
    border: 1.2px solid red;
    padding: 0.5rem;
    position: absolute;
    z-index: 100;
    top: 80%;
    transform: translateX(-50%);
    left: 50%;
    opacity: 0;
    transition: opacity 0.3s;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  }
  
  .tooltip_box:hover  .tooltip_span {
    visibility: visible;
    opacity: 1;
  }