:root {
  background-color: rgb(156, 111, 219);
  --select-border: #777;
  --select-focus: blue;
  --select-arrow: var(--select-border);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(159, 118, 246);
  overflow: hidden;
}
button {
  all: unset;
}

.ag-theme-alpine-dark .ag-header-cell {
  font-size: 22px;
}

select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
}

select::-ms-expand {
  display: none;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.custom-theme {
  --ag-borders: none;

  --ag-foreground-color: rgb(109, 81, 168);
  --ag-background-color: rgb(156, 111, 219);
  --ag-header-foreground-color: rgb(204, 245, 172);
  --ag-header-background-color: rgb(159, 118, 246);
  --ag-odd-row-background-color: rgb(0, 0, 0, 0.03);
  --ag-header-column-resize-handle-color: rgb(126, 46, 132);

  /* Selections */
  --ag-selected-row-background-color: rgb(159, 118, 246);
  --ag-range-selection-border-color: rgb(246, 246, 246);
  --ag-range-selection-border-style: solid;
  --ag-range-selection-background-color: rgb(255, 0, 128, 0.1);
  --ag-range-selection-background-color-2: rgb(255, 0, 128, 0.19);
  --ag-range-selection-background-color-3: rgb(255, 0, 128, 0.27);
  --ag-range-selection-background-color-4: rgb(255, 0, 128, 0.34);
  --ag-range-selection-highlight-color: rgb(219, 240, 210);

  --ag-font-size: 17px;
  --ag-font-family: monospace;
}
