div.loadingWrapper {
    --loading-ball1-color: #1ee521;
    --loading-ball2-color: #0357f4;
    --loading-ball3-color: #f90b0b;
    --loading-ball4-color: #5c4200;
    --loading-text-color: #c3d4e4;
    --loading-ball-size: 0.9375rem;
    --loading-wrapper-size: 3.125rem;
    --loading-backgroundColor: rgba(0, 0, 0, 30%);
    --loading-text-color-hover: #1a2832;
  
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--loading-backgroundColor);
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .containerSpinner {
    width: var(--loading-wrapper-size);
    height: var(--loading-wrapper-size);
    margin-bottom: 1.25rem;
    animation: rotation 1s infinite;
    .shape {
      position: absolute;
      width: var(--loading-ball-size);
      height: var(--loading-ball-size);
      border-radius: 50%;
      &.shape1 {
        left: 0;
        background-color: var(--loading-ball1-color);
        animation: shape1 0.2s infinite alternate;
      }
      &.shape2 {
        right: 0;
        background-color: var(--loading-ball2-color);
        animation-delay: 0.2s;
        animation: shape2 0.2s infinite alternate;
      }
      &.shape3 {
        bottom: 0;
        background-color: var(--loading-ball3-color);
        animation-delay: 0.2s;
        animation: shape3 0.2s infinite alternate;
      }
      &.shape4 {
        bottom: 0;
        right: 0;
        background-color: var(--loading-ball4-color);
        animation: shape4 0.2s infinite alternate;
      }
    }
  }
  .progressCircleText {
    font-size: 1.1rem;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .progressCircleText:before {
    content: attr(data-loading-text);
    text-transform: uppercase;
    color: var(--loading-text-color);
    font-family: 'robotomedium', sans-serif;
  }
  
  .progressCircleText:after {
    top: 0;
    left: 0;
    width: 0;
    opacity: 1;
    color: var(--loading-text-color-hover);
    overflow: hidden;
    text-transform: uppercase;
    position: absolute;
    content: attr(data-loading-text);
    animation: loading 1.5s infinite;
    font-family: 'robotomedium', sans-serif;
    font-size: 1.1rem;
  }
  @keyframes shape1 {
    from {
      transform: translate(0, 0);
    }
    to {
      transform: translate(5px, 5px);
    }
  }
  
  @keyframes shape2 {
    from {
      transform: translate(0, 0);
    }
    to {
      transform: translate(-5px, 5px);
    }
  }
  @keyframes shape3 {
    from {
      transform: translate(0, 0);
    }
    to {
      transform: translate(5px, -5px);
    }
  }
  
  @keyframes shape4 {
    from {
      transform: translate(0, 0);
    }
    to {
      transform: translate(-5px, -5px);
    }
  }
  
  @keyframes loading {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  