.nav {
  width: 240px;
  height: 100vh;
  background-color: rgb(159, 118, 246);
  display: flex;
  padding-top: 3rem;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  /* overflow-y: scroll; */
}
